<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My page</title>
    <link href="static\css\main.css" rel="stylesheet">
    <!-- Мне это только для иконочек -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!--  -->
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="profile-image">
                <img src="static\imgs\Ee5ojPVfTis.jpg" alt="profile pic" />
            </div>
            <h1>Aleksandr Chumakov</h1>
            <p>Information Security Specialist</p>
        </div>

        <div class="main-content">
            <div class="sidebar">
                <div class="contact-info">
                    <h2>Contact</h2>
                    <div><i class="fas fa-phone"></i>+7 999 786 54 32</div>
                    <div><i class="fas fa-envelope"></i>sasha.chumakov.2002@gmail.com</div>
                    <div><i class="fas fa-map-marker-alt"></i>St. Petersburg, Russia</div>
                </div>

                <h2>Education</h2>
                <p>Master's Degree in Information Security<br>ITMO University</p>
                <p>Bachelor’s Degree in Computer Science<br>ISTU</p>

                <h2>Skills</h2>
                <ul>
                    <li>DevSecOps Implementation</li>
                    <li>Software Development</li>
                    <li>Database Management</li>
                    <li>Regulatory Compliance</li>
                    <li>Team Collaboration</li>
                    <li>Problem Solving</li>
                </ul>
            </div>

            <div class="content">
                <h2>Professional Profile</h2>
                <p>Motivated information security specialist with experience in DevSecOps and programming. Possesses strong knowledge in database management and regulatory base. Professionally oriented towards developing security software and committed to growth in the IT field.</p>

                <h2>Work Experience</h2>
                <p><strong>Assistant at «INSEQ SZ»</strong> (5 months)</p>
                <ul>
                    <li>Developed and implemented information security solutions</li>
                    <li>Conducted software source code analysis</li>
                    <li>Facilitated automation processes in DevSecOps</li>
                </ul>
                <p><strong>FullStack developer at «INSEQ SZ»</strong> (1 months)</p>
                <ul>
                    <li>Organizes and programs the UI and backend part.</li>
                </ul>

                <h2>Achievements</h2>
                <div class="achievement">
                    <p>Developed a software guide (docs) for employees that accelerated task completion by 10%</p>
                </div>

                <h2>Additional Information</h2>
                <p>Demonstrated willingness to learn and enhance qualifications in the IT sector. Strong commitment to professional development and staying current with industry trends.</p>
            </div>
        </div>
    </div>
</body>
</html>